
html body {
  /* font-family: "Helvetica","Pingfang SC","Hiragino Sans GB","Microsoft YaHei","sans-serif"; */  
  background-color: #ddd;
}

body,
h1,
h2,
h3,
h4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}

.clearfix {clear: both;}
.clearfix:after {content: '';display: block; clear: both;}
a {text-decoration: none}

/* ------ */

#audio-box {
 position: fixed;
 right: 3%;
 bottom: 10%;
 width: 50px;
 height: 50px;
}
#audio-box audio {
  visibility: hidden;
}
.audio-muted {
  content: '';
  display: block;
  border-bottom: 5px solid white;
  transform: rotate(-45deg);
  transform-origin: left;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 130%;
}
.audio-btn {
  width: 50px;
  height: 50px;
  background-image: url(/images/site-icons/music.png);
  display: inline-block;
  border-radius: 10px;
  background-color: #fe6400;
}

.paginationBox {
  display: flex;
  background-color: #fafafa;
}
.paginationBox a {color: #2ca6cb}
.paginationBox .previousLink:hover,.nextLink:hover { background-color: #ccc;color: #db4437 }
.paginationBox .previousLink,.nextLink {
  display: inline-block;
  padding: .5rem .8rem;
}

.paginationBox .pageItem:hover {
  background-color: #ccc;
  color: #db4437;
}
.paginationBox .pageItem {
  padding: 0.5rem 1rem;
  display: inline-flex;
}
.paginationBox .pageItem.active:hover, {color: #db4437; background-color: initial}
.pageItem.static:hover {color: initial; background-color: initial}
.paginationBox .pageItem.active {
  color: #db4437;
}

.paginationBox .pageLink {
  text-align: center;
  flex: 1;
}


/* 文章详情 */
.article {
  background-color: #fafafa;  
}
.article header {border-bottom: 1px solid #dbdbdb;     border-left: 5px solid #db4437;}
.article header a {color: #2ca6cb;}
.article h1 {
  font-size: 180%;  
  line-height: 1.8;
  padding: 0.3rem 3%;
  /* border-left: 5px solid #db4437; */
}
.article-author,.article-time {
  float: right;
  color: #817c7c;
  font-size: .8rem;
  margin-bottom: 0;
}
p.article-author {  
  border-bottom: none;
  padding-right: 2%;
}
.article-author a { margin-left: .2rem;}
.article-time {
  margin-right: 1em;
  padding-top: 0.1em;
  font-size: 0.9em;
}

/* 文章详情正文 */
.article-content {
  padding: 1rem 1.5rem;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* formater */

.article-content a  { color: #2ca6cb }
.article-content p  { color: #817c7c; font-size: 100%; line-height: 1.8; }
.article-content table { width: 100%; font-size: .9rem; }

.pay-box {
  margin: 1rem 0;
  padding: 2rem 0;
  text-align: center;
  background-color: #fafafa;
}
.pay-btn:hover { opacity: .8; }
.pay-btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fe6400;
  color: white;
  cursor: pointer;  
  box-shadow: 5px 5px 8px #eee;
}
/* 文章详情 end */

/* 布局 */
.layout { margin: 3rem auto; display: flex;  padding: 0 1rem; }
.aside{ flex-basis: 280px; margin-left: 20px }

.footer_br { display: none; }

/* 媒体查询 自适应 */
@media only screen and (max-width: 768px) {
  html { font-size: 85% !important }
  header + div { margin-top: 1.5rem !important }
  footer { padding: 3% 1%; }
  
  .layout { flex-direction: column; }
  .aside { width: 80%; margin: 2rem auto; }
  
  .footer_br { display: block; }
}