
.tagTitle {
  margin: 0 0 2em;
  padding-left: 0.5%;
  padding: 2em 0 2em 3%;
  background: #fafafa;
  border-left: 0.5em solid #ccc;
}


.tagTitle h2 {color:#2ca6cb;}
.itemBox h1 { color: #2ca6cb; font-size: 1.2rem; }
.itemBox:hover h1 { color: #db4437 }
.itemBox time {
  color: #817c7c;
  display: block;
  margin: 0.5em 0;
  font-size: 0.5em;
}


.gridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .2rem;
  grid-row-gap: .2rem;
}
.itemBox {
  display: flex;
  padding: 1rem;
  background: #fafafa;
}

@media only screen and (max-width: 768px) {
  .gridBox { grid-template-columns: repeat(2, 1fr); }
}